alembic==1.5.8
appdirs==1.4.4
certifi==2020.12.5
click==7.1.2
distlib==0.3.1
fastapi==0.63.0
FastAPI-SQLAlchemy==0.2.1
filelock==3.0.12
greenlet==1.0.0
h11==0.12.0
Mako==1.1.4
MarkupSafe==1.1.1
packaging==20.9
pipenv==2020.11.15
psycopg2==2.8.6
pydantic==1.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
six==1.15.0
SQLAlchemy==1.4.9
sqlalchemy-redshift==0.8.2
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
virtualenv==20.4.4
virtualenv-clone==0.5.4
